
.link{
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
.link:hover {
    background-color: #008CBA;
    color: white;
}


.container2 {
    display: flex;
    height: 3rem;
    width: 100%;
    backdrop-filter: invert(80%) blur(0.5px);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.container2  p{
    color: white;
    position: absolute;
    right: 80px;
    list-style: none;
    font-size: larger;
    font-weight: 600;
}

.creation {
    font-size: medium;
    
}



.globe {
    margin: 16px;
    display: block;
    height: 44px;
}
.globe {
    transition: all 0.3s ease-in-out 0s;
}

.globe:hover
{
    cursor: pointer;
    transform: rotate(1080deg);
    transition: all 2.5s ease-in-out 0s;
}
.parr {
    cursor: none;

}